
.logo {
    margin-top: 15px;
    float: left;
}

.header_topline {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 95px;
    color: #fff;
    position: fixed;
    z-index: 99;

}

.main_nav ul {
    list-style-type: none;
    float: right;
    margin-top: 40px;

}
.main_nav ul li{
    display: inline;
    padding-left: 35px;
}
ul a{
    color: #fff;
    font: 13px 'Droid Sans';
    text-transform:uppercase;

}
ul a:hover {
    color: #4bcaff;
    border-top: 2px solid #4bcaff;
    padding-top: 41px;
}
.caption {
    text-align:left;
    color: #fff;


}
.caption  span {
    font: 48px 'Lato'; }
.caption  b {
    font: 700 48px 'Lato'; }